<section class="" id="aboutSection">
  <div class="d-flex flex-wrap"style="background-color: #28636e;">
      <div class="col-lg-6 d-flex align-items-center pli-5">
          <header class="mt-3 mx-auto"style="width: 100;" >
              <h2 class="font-weight-lighter display-4 text-white" style="text-shadow: 1px 3px 0 #272626, 1px 5px 5px #575656;"><strong>Hola!!</strong> soy</h2>
              <h1 class="font-weight-lighter display-1 text-white" style="text-shadow: 1px 3px 0 #272626, 1px 5px 5px #575656;">
                  Edwar Triana
              </h1>
              <h3 class="font-weight-lighter display-5 text-white" style="text-shadow: 1px 3px 0 #272626, 1px 5px 5px #575656;">
                  Desarrollador Web
              </h3>
              <div class="hoja mt-2 btn-primary justify-content-center" style="width: 10rem; height: 2rem; text-align: center; ">
                <a  class="text-white " style="text-decoration: none; " href="assets/document/Hoja de Vida DevAct.pdf" target="_blank" type="button"> Mi CV</a>  
              </div>
          </header>
      </div>

      <div class="col-lg-6 p-5  d-flex flex-column align-items-center justify-content-center" style="background-color: #28636e;">
        <img class="img-fluid rounded-circle img-size" src="assets/img/fotoEdwar.jpg.jpg" alt="" id="charImg">
    </div>
  </div>
</section>
