<div class="d-flex justify-content-center">
    <h2 class="" >Mis Proyectos y Experiencia</h2>
</div>
<div class="" id="llevarAqui" >
  <div class=" m-4">
      <div >
           <a href="https://ladrilleraframar.com/" target="_blank"  ><img src="../../../assets/img/logoFramar.png" class="framar img-fluid"  alt="..."style="width: 12rem; height: 5rem; margin: 2rem; -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);"></a> 
           <a href="https://ofirmarketing.com/" target="_blank"><img src="../../../assets/img/logoOfirMarketing.png" class="ofir img-fluid" alt="..."style="width: 12rem; height: 10rem; margin: 2rem; -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);" ></a>
           <a href="https://academiaorodeofir.com/"target="_blank"><img src="../../../assets/img/logoOrodeOfir (1).jpg" class="oro img-fluid" alt="..."style="width: 12rem; height: 10rem; margin: 2rem; -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);"></a>
           <a href="https://edwartriana.github.io/Go_Travel/" target="_blank"><img src="../../../assets/img/gotravel.jpeg" class="go img-fluid" alt="..."style="width: 12rem; height: 10rem; margin: 2rem; -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);"></a>  
           <a href="https://github.com/Hincapie-OscarH/ProyectoFinal" target="_blank"><img src="../../../assets/img/logoProyectoBackend.svg" class="four img-fluid" alt="..."style="width: 12rem; height: 10rem; margin: 2rem; -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);"></a>
      </div>
  </div>
</div>
