<div class="row"id="enviarAqui" style="background-color: #69adb9;">
    <div class="col-sm-6" style="background-color: #69adb9;">
      <div class="card" style="background-color: #69adb9;">
        <div class="card-body">
          
            <a href="tel:3058180686" target="_blank" style="margin-left: 1rem;"><img src="assets/img/telefono.png" class="telefono img-fluid m-2" alt="..."style="width: 10rem; height: 5rem; "></a>
            <a  href = "mailto:edwarsteventriana@gmail.com?subject = Feedback&body = Message" target="_blank" style="margin-left: 1rem;"><img src="assets/img/correogmail.png" class="correo img-fluid m-2" alt="..."style="width: 8rem; height: 5rem; "></a>
        
    
            <a href="https://wa.me/+573058180686"target="_blank" style="margin-left: 1rem;"><img src="assets/img/whatsapplogo.png" class="whatsapp img-fluid mx-2" alt="..."style="width: 10rem; height: 5rem;"></a>
            <a href="https://www.linkedin.com/in/edwar-triana-752522200/" target="_blank" style="margin-left: 1rem;"><img src="assets/img/linkedin.png" class="in img-fluid m-2" alt="..."style="width: 8rem; height: 5rem; "></a>
        
    
            <a href="https://github.com/EdwarTriana" target="_blank"style="margin-left: 1rem;"><img src="assets/img/githublogo2.png" class="hub img-fluid m-2" alt="..."style="width: 10rem; height: 5rem; "></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6" style="background-color: #69adb9;">
      <div class="card" style="background-color: #69adb9;" >
        <div class="card-body justify-content-center" >
          <h5 class="card-title display-3 text-white "style="text-shadow: 1px 3px 0 #272626, 1px 5px 5px #575656;" > <strong>Contáctame</strong></h5>
          <h4 class="text-white"style="text-shadow: 1px 3px 0 #272626, 1px 5px 5px #575656;"> <strong>Ubicacion: </strong> Bogota DC</h4>
          <h4 class="text-white" style="text-shadow: 1px 3px 0 #272626, 1px 5px 5px #575656;"> <strong>Direccion: </strong> Calle 75 Sur 8d-17</h4>
          <h4 class="text-white" style="text-shadow: 1px 3px 0 #272626, 1px 5px 5px #575656;"> <strong>Email: </strong> edwarsteventriana@gmail.com</h4>
           <h4 class="text-white" style="text-shadow: 1px 3px 0 #272626, 1px 5px 5px #575656;"> <strong>Contacto:</strong>(+57)305 818 06 86</h4>
        </div>
      </div>
    </div>
  </div>


<div >
    <p class="text-center" style="background-color: #b3e9f3;"><strong>Copyright © 2021. Edwar Triana | Todos los derechos reservados.</strong></p>
</div>

  