<div class="acerca d-flex justify-content-center"id="llegarAqui" style="border-radius: 80rem">
    <div class="card mb-4 " >
        <div class="row g-0" >
          <div class="col-md-6">
            <img src="../../../assets/img/descripcion.jpg" class="img-fluid" alt="...">
          </div>
          <div class="col-md-6 ">
            <div class="card-body ">
              <h2 class="card-title text-center mt-4 display-1" >Acerca de Mi</h2>
              <p class="card-text justify-content-center mt-4 " >Soy una persona apasionada
                por la tecnologia y la musica,
                tengo conocimientos en Html5,
                Css, JavaScript, Bootstrap y
                Angular para Front y para el
                back ExpressJs, NodeJs, y
                Mongodb.
                <br>
                Manejo el CMS Wordpress y
                deseo aprender cada dia mas en
                el desarrollo web y la
                programacion y trabajar en una
                empresa o startup en la que
                pueda profundizar mis
                conocimientos y aprender
                nuevas tendenciasy lenguajes
                de programacion.</p>
            </div>
          </div>
        </div>
      </div>
</div>
