<nav class="navbar navbar-expand-lg navbar-light bg-light w-100" style="position: fixed; ">
  <div class="container-fluid">
    <a class="navbar-brand mx-4" href="#menu"> <img class="logo" src="assets/img/logoOfirMarketing.png" alt="" width="40" height="30"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a type="button" class="item1  nav-link display-6 " aria-current="page"(click)="llegarAqui()" >Acerca de mi</a>
        <a type="button"class="item2 nav-link display-6"   (click)="caerAqui()">Estudios y Habilidades</a>
        <a type="button"class="item3 nav-link display-6" (click)="llevarAqui()">Mis proyectos y Experiencia</a>
        <a type="button"class="item4 nav-link display-6" href="https://github.com/EdwarTriana" target="_blank">Practicas Academicas Github</a>
        <a type="button"class="item5 nav-link display-6"  (click)="enviarAqui()">Contactame</a>
      </div>
    </div>
  </div>
</nav>
 