.item1:hover{
    border-radius: 50%;
    background-color: rgb(119, 193, 243);
    transition: 1s;

}
.item2:hover{
    border-radius: 50%;
    background-color: rgb(119, 193, 243);
    transition: 1s;

}
.item3:hover{
    border-radius: 50%;
    background-color: rgb(119, 193, 243);
    transition: 1s;

}
.item4:hover{
    border-radius: 50%;
    background-color: rgb(119, 193, 243);
    transition: 1s;

}
.item5:hover{
    border-radius: 50%;
    background-color: rgb(119, 193, 243);
    transition: 1s;

}
.item6:hover{
    border-radius: 50%;
    background-color: rgb(119, 193, 243);
    transition: 1s;

}