<div class="d-flex justify-content-center "  style="background-color: #4d828b;">
    <div class=" m-4">
        <div >
            <h2 class="text-center text-white" style="text-shadow: 1px 3px 0 #272626, 1px 5px 5px #575656;">Estudios</h2>
            <div>
                <h3 style="text-shadow: 1px 3px 0 #272626, 1px 5px 5px #575656;" class="text-white">Bootcamp Desarrollo web Fullstack</h3>
                <p class="text-white"style="text-shadow: 1px 3px 0 #272626, 1px 5px 5px #575656;" ><strong>convenio Bictia con la CET Colsubsidio</strong> </p> 
                <img src="../../../assets/img/Bictia (1).png" class="img-fluid" alt="..."style="width: 8rem; height: 5rem;">
                <img src="../../../assets/img/cet.png" class="img-fluid" alt="..." style="width: 14rem; height: 5rem;">
                <h3 style="text-shadow: 1px 3px 0 #272626, 1px 5px 5px #575656;" class="text-white"><strong>Cursos</strong></h3>
                <div class="d-flex justify-content-center">
                    <ul>
                        <li style="text-shadow: 1px 3px 0 #272626, 1px 5px 5px #575656;" class="text-white">
                            Programacion Basica
                        </li>
                        <li style="text-shadow: 1px 3px 0 #272626, 1px 5px 5px #575656;" class="text-white">
                            Introduccion al Marketing Digital
                        </li>
                    </ul>
                    <div>
                        <img src="../../../assets/img/platziicono.png" class="img-fluid m-2" alt="..."style="width: 5rem; height: 5rem; ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" justify-content-center m-4" >
        <div class="d-flex justify-content-center" >
            <h2 class="text-center text-white" id="caerAqui" style="text-shadow: 1px 3px 0 #272626, 1px 5px 5px #575656;">Habilidades</h2>
        </div>
        <div class="flex-wrap justify-content-center">
            <div>
                <img src="../../../assets/img//html,css y js.png" class="img-fluid" alt="..."style="width: 10rem; height: 5rem;">
                <img src="../../../assets/img/Angular.svg.png" class="img-fluid" alt="..."style="width: 10rem; height: 5rem;">
            </div>
            <div>
                <img src="../../../assets/img/MongoDB.svg.png" class="img-fluid" alt="..."style="width: 10rem; height: 5rem;">
                <img src="../../../assets/img/expressjs.png" class="img-fluid" alt="..."style="width: 8rem; height: 4rem;">
            <div>
                <img src="../../../assets/img/nodejs.png" class="img-fluid " alt="..."style="width: 10rem; height: 5rem;">
                <img src="../../../assets/img/bootstrap-logo.png" class="img-fluid" alt="..."style="width: 10rem; height: 5rem;">
            </div>
            <div>
                <img src="../../../assets/img/git.png" class="img-fluid" alt="..."style="width: 10rem; height: 5rem;">
                <img src="../../../assets/img/GitHub-Logo.png" class="img-fluid"  alt="..."style="width: 8rem; height: 5rem;">
            </div>
            <div>
                <img src="../../../assets/img/Wordpress.png" class="img-fluid" alt="..."style="width: 8rem; height: 5rem;">
            </div>
            
        </div>
    </div>
        
    
    
</div >
